<h3 class="section-titlesub" id="a_glossary_title">Glossary +</h3>
<div id="a_glossary" class="section-text" style="display: none;">
    <h4 class="section-titlesub" id="ag_accessglos_title">Accessing Glossary +</h4>
    <div id="ag_accessglos" class="section-text" style="display: none;">
        <img loading="lazy" class="content-img" src="./classes/img/all/ag-accessglos.jpg" alt="Accessing Glossary Example">
    </div>
    <h4 class="section-titlesub" id="ag_glospage_title">Glossary Page +</h4>
    <div id="ag_glospage" class="section-text" style="display: none;">
        <p>The page contains definitions.</p>
        <img loading="lazy" class="content-img" src="./classes/img/learner/ag-glospage.jpg" alt="Glossary Page Example">
    </div>
</div>