<h3 class="section-titlesub" id="a_privatefile_title">Private Files +</h3>
<div id="a_privatefile" class="section-text" style="display: none;">
    <h4 class="section-titlesub" id="apf_introduction_title">Introduction +</h4>
    <div id="apf_introduction" class="section-text" style="display: none;">
        <p>To find your private files, click your name at the top of the page and then click private files. The max file size you can upload is 80mb.</p>
        <img loading="lazy" src="./classes/img/all/apf-introduction.jpg" alt="Private Files Example" class="content-img">
    </div>
    <h4 class="section-titlesub" id="apf_fileandfolder_title">File and Folder Options +</h4>
    <div id="apf_fileandfolder" class="section-text" style="display: none;">
        <h5 class="section-titlesub" id="apffaf_fileopt_title">File Option +</h5>
        <div id="apffaf_fileopt" class="section-text" style="display: none;">
            <p>
                To access this, you must click this icon
                <img loading="lazy" src="./classes/img/all/apffaf-fileopticon.jpg" alt="File Option Icon" class="c-icon">
            </p>
            <img loading="lazy" src="./classes/img/all/apffaf-file.jpg" alt="Private Files, File Option" class="content-img">
        </div>
        <h5 class="section-titlesub" id="apffaf_folderopt_title">Folder Option +</h5>
        <div id="apffaf_folderopt" class="section-text" style="display: none;">
            <p>
                To access this, you must click this icon 
                <img loading="lazy" src="./classes/img/all/apffaf-folderopticon.jpg" alt="Folder Option Icon" class="c-icon">
            </p>
            <img loading="lazy" src="./classes/img/all/apffaf-folder.jpg" alt="Private Files, Folder Option" class="content-img">
        </div>
    </div>
    <h4 class="section-titlesub" id="apf_sortopt_title">Sorting Options +</h4>
    <div id="apf_sortopt" class="section-text" style="display: none;">
        <p>
            Here are the three options you'll have when sorting your files and folders.
        </p>
        <img loading="lazy" src="./classes/img/all/apf-sortopt.jpg" alt="Private Files, Sorting Options Examples" class="content-img">
    </div>
    <h4 class="section-titlesub" id="apf_managefaf_title">Managing Files and Folders +</h4>
    <div id="apf_managefaf" class="section-text" style="display: none;">
        <h5 class="section-titlesub" id="apfm_folder_title">Managing Folders +</h5>
        <div id="apfm_folder" class="section-text" style="display: none;">
            <h6>Step 1</h6>
            <img loading="lazy" src="./classes/img/all/apfm-folder1.jpg" alt="Private Files, Managing Folders Step 1" class="content-img">
            <h6>Step 2</h6>
            <img loading="lazy" src="./classes/img/all/apfm-folder2.jpg" alt="Private Files, Managing Folders Step 2" class="content-img">
        </div>
        <h5 class="section-titlesub" id="apfm_file_title">Managing Files +</h5>
        <div id="apfm_file" class="section-text" style="display: none;">
            <h6>Step 1</h6>
            <img loading="lazy" src="./classes/img/all/apfm-file1.jpg" alt="Private Files, Managing Files Step 1" class="content-img">
            <h6>Step 2</h6>
            <img loading="lazy" src="./classes/img/all/apfm-file2.jpg" alt="Private Files, Managing Files Step 2" class="content-img">
        </div>
    </div>
</div>