<h3 class="section-titlesub" id="a_textboxopt_title">Text Box Options +</h3>
<div id="a_textboxopt" class="section-text" style="display: none;">
    <p>When uploading an image, file, or media you are limited to 80mb.</p>
    <h4 class="section-titlesub" id="atbo_insertimg_title">Insert Image +</h4>
    <div id="atbo_insertimg" class="section-text" style="display: none;">
        <img loading="lazy" class="content-img click" src="./classes/img/learnandcoach/atbo-insertimg.jpg" alt="Text Box Options Insert Image Example" id="atbo_insertimg_img">
    </div>
    <h4 class="section-titlesub" id="atbo_insertmedia_title">Insert Media +</h4>
    <div id="atbo_insertmedia" class="section-text" style="display: none;">
        <img loading="lazy" class="content-img click" src="./classes/img/learnandcoach/atbo-insertmedia.jpg" alt="Text Box Options Insert Media Example" id="atbo_insertmedia_img">
    </div>
    <h4 class="section-titlesub" id="atbo_browserepo_title">Browse Repositories +</h4>
    <div id="atbo_browserepo" class="section-text" style="display: none;">
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/atbo-browserepo.jpg" alt="Text Box Options Browse Repositories Example">
    </div>
    <h4 class="section-titlesub" id="atbo_videotoptip_title">Video Recording Top Tip +</h4>
    <div id="atbo_videotoptip" class="section-text" style="display: none;">
        <p>
        When using the recording feature for a video, make sure that another application is not using your webcam because it won't work otherwise. The video recording option will record the audio outputted from your device.
        </p>
    </div>
</div>