<h2 class="section-title" id="acceptpolicy_title"><b>Accepting Policies +</b></h2>
<div id="acceptpolicy" class="section-text" style="display: none;">
    <h3>Top of Page</h3>
    <p>At the top of the page, you can find this.</p>
    <img loading="lazy" class="content-img" src="./classes/img/all/acceptpolicy-top.jpg" alt="Top of Accepting Policies Page Example">
    <h3>Bottom of Page</h3>
    <p>At the bottom of the page you can find this.</p>
    <img loading="lazy" class="content-img" src="./classes/img/all/acceptpolicy-bottom.jpg" alt="Bottom of Accepting Policies Page Example">
</div>