<h4 class="section-titlesub" id="acp_calendarblock_title">Calendar Block +</h4>
<div id="acp_calendarblock" class="section-text" style="display: none;">
    <img loading="lazy" class="content-img" src="./classes/img/learner/acp-calendarblock.jpg" alt="Course Page Calendar Block Example">
</div>