<h4 class="section-titlesub" id="acp_viewfeed_title">Viewing Feedback +</h4>
<div id="acp_viewfeed" class="section-text" style="display: none;">
    <p>
        When inside a module of a course, which has an assignment that has been graded you can review the feedback.
    </p>
    <img loading="lazy" class="content-img" src="./classes/img/learner/acp-viewfeed.jpg" alt="Course Page Viewing Feedback Example">
</div>