<h4 class="section-titlesub" id="acp_moduletype_title">Module Types +</h4>
<div id="acp_moduletype" class="section-text" style="display: none;">
    <h5 class="section-titlesub" id="acpmt_page_title">Page +</h5>
    <div class="section-text" id="acpmt_page" style="display: none;">
        <p>This just contains information and data for you to read.</p>
        <img loading="lazy" class="content-img" src="./classes/img/learner/acp-moduletype-page.jpg" alt="Page Module Example">
    </div>
    <h5 class="section-titlesub" id="acpmt_scorm_title">SCORM / E-Learning +</h5>
    <div class="section-text" id="acpmt_scorm" style="display: none;">
        <h6>Step 1</h6>
        <img loading="lazy" class="content-img" src="./classes/img/learner/acpmt-scorm1.jpg" alt="SCORM Module Step 1 Example">
        <h6>Step 2</h6>
        <img loading="lazy" class="content-img" src="./classes/img/learner/acpmt-scorm2.jpg" alt="SCORM Module Step 2 Example">
        <h6>Step 3</h6>
        <img loading="lazy" class="content-img" src="./classes/img/learner/acpmt-scorm3.jpg" alt="SCORM Module Step 3 Example">
        <h6>Top Tip</h6>
        <p>
            Make sure that you have gone through all the sections of the activity for the activity to be marked as complete.
        </p>
    </div>
    <h5 class="section-titlesub" id="acpmt_multichoice_title">Multiple Choice / Quiz +</h5>
    <div id="acpmt_multichoice" class="section-text" style="display: none;">
        <h6>Step 1</h6>
        <img loading="lazy" class="content-img" src="./classes/img/learner/acpmt-multichoice1.jpg" alt="Multiple Choice Module Step 1">
        <h6>Step 2</h6>
        <p>The multiple choice may have a time limit.</p>
        <img loading="lazy" class="content-img" src="./classes/img/learner/acpmt-multichoice2.jpg" alt="Multiple Choice Module Step 2">
        <h6>Step 3</h6>
        <img loading="lazy" class="content-img" src="./classes/img/learner/acpmt-multichoice3.jpg" alt="Multiple Choice Module Step 3">
        <h6>Step 4</h6>
        <p>Once you are at the end of the multiple choice.</p>
        <img loading="lazy" class="content-img" src="./classes/img/learner/acpmt-multichoice4.jpg" alt="Multiple Choice Module Step 4">
    </div>
    <h5 class="section-titlesub" id="acpmt_h5p_title">H5P +</h5>
    <div id="acpmt_h5p" class="section-text" style="display: none;">
        <h6>Memory Game</h6>
        <img loading="lazy" class="content-img" src="./classes/img/learner/acpmt-memorygame1.jpg" alt="Memory Game Module Example">
    </div>
</div>