<h4 class="section-titlesub" id="ad_accountnav_title">Account Navigation +</h4>
<div id="ad_accountnav" class="section-text" style="display: none;">
    <img loading="lazy" class="content-img" src="./classes/img/learner/ad-accountnav.jpg" alt="Account Navigation Example">
    <h5>Options</h5>
    <p><b>Dashboard</b> - Brings you to the main page.</p>
    <p><b>View Profile</b> - Directs you to your profile.</p>
    <p><b>Edit Profile</b> - Directs you to a page where you can edit your profile.</p>
    <p><b>Private Files</b> - Directs you to a page where you can upload your own files.</p>
    <p><b>Grades</b> - Directs you to a page to view your grades.</p>
    <p><b>Badges</b> - Directs you to a page where you can view your badges.</p>
    <p><b>Prefernces</b> - Directs you to a page where you can set your preferences.</p>
    <p><b>Notification</b> - Directs you to a page where you can view your notifications.</p>
    <p><b>Calendar</b> - Brings you to your calendar.</p>
    <p><b>Log out</b> - Logs you out of your current account.</p>
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learner/ad-accountnav-bell.jpg" alt="Account Navigation Bell Example" class="c-icon">
        This icon represents your notifications, and a number will appear next to it when you have notifications, and the number is related to the number of notifications you currently have.
    </p>
</div>