<h4 class="section-titlesub" id="ad_accessopt_title">Accessibility Options +</h4>
<div id="ad_accessopt" class="section-text" style="display: none;">
    <h5 class="section-titlesub" id="adao_pagewidth_title">Page Width +</h5>
    <div id="adao_pagewidth" class="section-text" style="display: none;">
        <h6>Before</h6>
        <p>Here is an example of a page in the default view. To change the width, you must...</p>
        <img loading="lazy" class="content-img" src="./classes/img/learner/d-accessoption-fullscreen-no.jpg" alt="Page Width Not Full Screen Example">
        <h6>After</h6>
        <p>Here is an example of what it'll look like afterwards.</p>
        <img loading="lazy" class="content-img" src="./classes/img/learner/d-accessoption-fullscreen-yes.jpg" alt="Page Width Full Screen Example">
        <p>You can click the icon again to reduce the page width.</p>
    </div>
    <h5 class="section-titlesub" id="adao_blocks_title">Display Blocks +</h5>
    <div id="adao_blocks" class="section-text" style="display: none;">
        <h6>Before</h6>
        <p>The blocks are highlighted in black. To Hide the blocks, you must click...</p>
        <img loading="lazy" class="content-img" src="./classes/img/learner/d-accessoption-sblocks.jpg" alt="Blocks Visible Example">
        <h6>After</h6>
        <p>This is what you will see after you have clicked the icon.</p>
        <img loading="lazy" class="content-img" src="./classes/img/learner/d-accessoption-hblocks.jpg" alt="Blocks Hidden Example">
        <p>To add the blocks back just click the icon again.</p>
    </div>
</div>