<h4 class="section-titlesub" id="ad_accessblock_title">Accessibility Block +</h4>
<div id="ad_accessblock" class="section-text" style="display: none;">
    <p>This is where you can change the text size and colour scheme for the the website.</p>
    <h5>Default View</h5>
    <img loading="lazy" class="content-img" src="./classes/img/learner/ad-accessblock-default.jpg" alt="Accessibility Block Default View Example">
    <h5>Reset Settings</h5>
    <img loading="lazy" class="content-img" src="./classes/img/learner/ad-accessblock-reset.jpg" alt="Accessiblity Block Reset Settings Example">
</div>