<h4 class="section-titlesub" id="ad_calendarblock_title">Calendar Block +</h4>
<div id="ad_calendarblock" class="section-text" style="display: none;">
    <p>The current day will be highlighted in blue on the calendar.</p>
    <img loading="lazy" class="content-img" src="./classes/img/learner/ad-calendarblock.jpg" alt="Calendar Block Example">
</div>