<h4 class="section-titlesub" id="ad_navblock_title">Navigation Block +</h4>
<div id="ad_navblock" class="section-text" style="display: none;">
    <h5>Default View</h5>
    <img loading="lazy" class="content-img" src="./classes/img/learner/ad-defaultview.jpg" alt="Navigation Block Default View Example">
    <p>> will expand the category when clicked.</p>
    <p>v will collapse the category when clicked.</p>
    <h5>Exapanded View</h5>
    <img loading="lazy" class="content-img" src="./classes/img/learner/ad-expandedview.jpg" alt="Navigation Block Expanded View Example">
</div>