<h4 class="section-titlesub" id="ad_privatefile_title">Private Files Block +</h4>
<div id="ad_privatefile" class="section-text" style="display: none;">
    <h5>No files</h5>
    <img loading="lazy" class="content-img" src="./classes/img/learner/ad-privatefile-nofile.jpg" alt="No Files Example">
    <h5>Contains Files</h5>
    <img loading="lazy" class="content-img" src="./classes/img/learner/ad-privatefile-containfile.jpg" alt="Contains Files Example">
</div>