<h4 class="section-titlesub" id="aep_viewanedit_title">Viewing and Editing Individual Evidence +</h4>
<div id="aep_viewanedit" class="section-text" style="display: none;">
    <h5>Step 1</h5>
    <img loading="lazy" class="content-img" src="./classes/img/learner/aep-viewanedit1.jpg" alt="Viewing and Editing Files Step 1 Example">
    <h5>Step 2</h5>
    <img loading="lazy" class="content-img" src="./classes/img/learner/aep-viewanedit2.jpg" alt="Viewing and Editing Files Step 2 Example">
</div>