<h3 class="section-titlesub" id="c_onlinetext_title" >Online Text (Option A)+</h3>
<div id="c_onlinetext" class="section-text" style="display: none;">
    <p>
        Here are all the options you have when filling out the online text section.
    </p>
    <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext.jpg" alt="Online Text">
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext1.jpg" alt="Font Drop Down Icon" class="c-icon">
        This is a drop down when clicked on will give you options for different font sizes.
    </p>
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext2.jpg" alt="Bold Icon" class="c-icon">
        Makes the text bold.
    </p>
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext3.jpg" alt="Italics Icon" class="c-icon">
        Makes the text lean to the right (italics).
    </p>
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext4.jpg" alt="Bullet Point List Icon" class="c-icon">
        Creates a bullet point list.
    </p>
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext5.jpg" alt="Numbered List Icon" class="c-icon">
        Creates a numbered list.
    </p>
    <p>
       <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext6.jpg" alt="Outdent Current List Icon" class="c-icon">
        Outdent the current list position.
    </p>
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext7.jpg" alt="Ident Current List Icon" class="c-icon">
        Indent the current list position.
    </p>
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext8.jpg" alt="Add A Link Icon" class="c-icon">
        Adds a link of your choice.
    </p>
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext9.jpg" alt="Removes A Link Icon" class="c-icon">
        Removes the link from the selected text.
    </p>
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext10.jpg" alt="Upload Image Icon" class="c-icon">
        Click to upload or link an image. <a onclick="onlineTextMore('atbo_insertimg_title','atbo_insertimg','Insert Image')" href="#atbo_insertimg_title">Click for how to upload</a>
    </p>
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext11.jpg" alt="Upload Video Icon" class="c-icon">
        Click to upload or link audio or video (upload limited to 80mb). <a onclick="onlineTextMore('atbo_insertmedia_title','atbo_insertmedia','Insert Media')" href="#atbo_insertmedia_title">Click for how to upload or link</a>
    </p>
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext12.jpg" alt="Record Audio Icon" class="c-icon">
        Click to record audio (limited to 30 minutes).
    </p>
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext13.jpg" alt="Record Video Icon" class="c-icon">
        Click to record a video (limited to 30 minutes). <a onclick="onlineTextMore('atbo_videotoptip_title','atbo_videotoptip','Video Recording Top Tip')" href="#atbo_videotoptip_title">Click for top tip</a>
    </p>
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext14.jpg" alt="Manage Files Icon" class="c-icon">
        Click to manage your files on the site (limited to 80mb per file).
    </p>
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext15.jpg" alt="Underline Text Icon" class="c-icon">
        Click to underline text.
    </p>
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext16.jpg" alt="Line Through Text Icon" class="c-icon">
        Click to put a line through text.
    </p>
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext17.jpg" alt="Subscript Icon" class="c-icon">
        Click for subscript text (example: <sub>this is subscript</sub>).
    </p>
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext18.jpg" alt="Superscript Icon" class="c-icon">
        Click for superscript text (example: <sup>this is superscript</sup>).
    </p>
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext19.jpg" alt="Align Text To Left Icon" class="c-icon">
        Click to align text to the left.
    </p>
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext20.jpg" alt="Align Text To Centre Icon" class="c-icon">
        Click to align text to the centre.
    </p>
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext21.jpg" alt="Align Text To Right Icon" class="c-icon">
        Click to align text to the right.
    </p>
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext22.jpg" alt="Add A Character Icon" class="c-icon">
        Click to add a character.
    </p>
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext23.jpg" alt="Insert A Table Icon" class="c-icon">
        Click to insert a table.
    </p>
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext24.jpg" alt="Remove Formatting Icon" class="c-icon">
        Click to remove formatting from text.
    </p>
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext25.jpg" alt="Undo Icon" class="c-icon">
        Click to undo.
    </p>
    <p>
        <img loading="lazy" class="content-img" src="./classes/img/learnandcoach/c-onlinetext26.jpg" alt="Redo Icon" class="c-icon">
        Click to redo.
    </p>
</div>