<h3 class="section-titlesub" id="d_overview_title" >Course Overview Block +</h3>
<div id="d_overview" class="section-text" style="display: none;">
    <img loading="lazy" class="content-img" src="./classes/img/learner/d-overview.jpg" alt="Course Overview Block">
</div>