<h3 class="section-titlesub" id="d_completion_title" >Completion Progress Block +</h3>
<div id="d_completion" class="section-text" style="display: none;">
    <img loading="lazy" class="content-img" src="./classes/img/learner/d-completion.jpg" alt="Completion Progress Block">
    <h4 class="h4-sub">Single Rectangle</h4>
    <p>You can click it to be redirected to that module</p>
</div>