<h3 class="section-titlesub" id="d_introduction_title" >Introduction +</h3>
<div id="d_introduction" class="section-text" style="display: none;">
    <img loading="lazy" class="content-img click" src="./classes/img/{{type}}/d-introduction.jpg" id="d_introduction_img" alt="Dashboard Introduction">
</div>