<h3 class="section-titlesub" id="d_navhead_title">Navigation Header +</h3>
<div id="d_navhead" class="section-text" style="display: none;">
    <img loading="lazy" class="content-img" src="./classes/img/all/d-navhead.jpg" alt="Navigation Header">
    <h4 class="h4-sub">Dashboard</h4>
    <p>This will bring you back to the main page.</p>
    <h4 class="h4-sub">Events</h4>
    <p>This will bring you to your calendar</p>
    <h4 class="h4-sub">My Courses</h4>
    <p>The steps to access your course are below</p>
    <img loading="lazy" class="content-img" src="./classes/img/all/d-navhead-course.jpg" alt="Navigation Course">
    <h4 id="d_mylearning">My Learning</h4>
    <p>To open the drop down, just hover over my learning</p>
    <img loading="lazy" class="content-img" src="./classes/img/all/d-navhead-learning.jpg" alt="Navigation My Learning">
</div>