<h2 class="section-title" id="introduction_title"><b>Introduction +</b></h2>
<div id="introduction" class="section-text" style="display: none;">
    <p>
        The Northern Training Academy E-Portfolio is an online portal for coaches to set assignments for learners to complete as part of their apprenticeship or traineeship course. This document will provide a guide for NTA {{usertype}} on how to use all the features they will have access to on the E-Portfolio. For any E-Portfolio enquiries please contact 
        <a href="mailto:support@northerntrainingacademy.com">support@northerntrainingacademy.com</a>
    </p>
</div>