<h2 class="section-title" id="loggingin_title"><b>Logging In +</b></h2>
<div id="loggingin" class="section-text" style="display: none;">
    <p>Please visit <a href="https://mylearning.northerntrainingacademy.com/">https://mylearning.northerntrainingacademy.com/</a> to access the E-portfolio.</p>
    <img loading="lazy" class="content-img" src="./classes/img/all/Logginin1.jpg" alt="Logging In Example"/>
    <p>You will be sent your username and password via email.</p>
</div>