<h2 class="section-title" id="resetting_title"><b>Resetting Password or Forgotten Username +</b></h2>
<div id="resetting" class="section-text" style="display: none;">
    <h3>Step 1</h3>
    <img loading="lazy" class="content-img" src="./classes/img/all/Reseting1.jpg" alt="Resetting Step 1">
    <h3>Step 2</h3>
    <img loading="lazy" class="content-img" src="./classes/img/all/Reseting2.jpg" alt="Resetting Step 2">
    <h3>Step 3</h3>
    <img loading="lazy" class="content-img" src="./classes/img/all/Reseting3.jpg" alt="Resetting Step 3">
    <h3>Step 4</h3>
    <img loading="lazy" class="content-img" src="./classes/img/all/Reseting4.jpg" alt="Resetting Step 4">
</div>